@font-face {
    font-family: assistant;
    src: url("../../assets/fonts/assistant/Assistant.ttf") format("truetype");
}

@font-face {
    font-family: lato;
    src: url("../../assets/fonts/lato/Lato.ttf") format("truetype");
}
