@import '../../global-scss/variables.scss';
@import '../../global-scss/functions.scss';

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding-left: 0;
}

footer {
    min-width: 100%;
    margin-top: 5%;

    .footer-sections {
        color: #bbb;
        line-height: 1.5;
        margin-top: auto;
        min-width: 100%;
        flex: 1;
        color: #eee;

        & a {
            text-decoration: none;
            color: #eee;
        }

        & .bottom-footer {
            padding: 0.9375rem 1.875rem;
            background-color: $accent2;
            color: $font;

            .legal-list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                & li {
                    margin: 0.125rem 0.625rem;
                    white-space: nowrap;

                    &:nth-last-child(2) {
                        flex: 1;
                    }
                }
            }
        }
    }
}