<div class="footer-sections">

    <section class="top-footer">
        <div class="main-item">
            <h2 class="title">About</h2>
            <ul>
                <li><a href="#">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Customers</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
        <div class="main-item">
            <h2 class="title">Resources</h2>
            <ul>
                <li><a href="#">Docs</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">eBooks</a></li>
                <li><a href="#">Webinars</a></li>
            </ul>
        </div>
        <div class="main-item">
            <h2 class="title">Contact</h2>
            <ul>
                <li><a href="#">Help</a></li>
                <li><a href="#">Sales</a></li>
                <li><a href="#">Advertise</a></li>
            </ul>
        </div>
        <div class="main-item">
            <h2 class="title">Stay Updated</h2>
            <p>Subscribe to our newsletter to get our latest news.</p>
            <form>
                <input type="email" name="email" placeholder="Enter email address">
                <input type="submit" value="Subscribe">
            </form>
        </div>

        <section class="middle-footer">
            <ul class="social-icons">
                <li>
                    <a href='https://www.facebook.com/sharon.bello.42' target="_blank">
                        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/sharon-bello-tech/" target="_blank">
                        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/SharonBello" target="_blank">
                        <fa-icon [icon]="['fab', 'github']"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href='https://www.instagram.com/?hl=en' target="_blank" class="disabled-link">
                        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href='https://twitter.com/?lang=en' target="_blank" class="disabled-link">
                        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/" target="_blank" class="disabled-link">
                        <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="https://wa.me/972544767146" target="_blank">
                        <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
                    </a>
                </li>
            </ul>
        </section>
    </section>
    <section class="bottom-footer">
        <ul class="legal-list">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li>&copy; 2022 Copyright Userlib Inc.</li>
        </ul>
    </section>
</div>