<div class="card flex flex-column">
    <img src={{user.picture.medium}} alt="user image" />
    <section class="card-text flex flex-column align-center">
        <h4 class="user-name">{{user.name.title}} {{user.name.first}} {{user.name.last}}</h4>
        <a href="mailto:userliv@mailgo.com" className='user-email'>{{user.email.substr(0, 18)}}...</a>

        <p class="user-location">{{user.location.street.number}} {{user.location.street.name.substr(0, 18)}}...</p>
        <p>{{user.location.city}}, {{user.location.country}}</p>

    </section>
    <footer class="edit-icon">
        <fa-icon [icon]="faEdit" (click)="onOpenEditUserDialog(user)"></fa-icon>
        <div *ngIf="showEditUser">
            <app-edit-user [user]="user" (onEditUser)="onOpenEditUserDialog($event)"></app-edit-user>
        </div>
    </footer>
</div>
