@import '../../global-scss/variables.scss';
@import '../../global-scss/functions.scss';

.card {
    border: 1px solid rgb(226, 226, 226);
    padding: 10px 12px;
    min-height: rem(280px);
    max-height: 100%;
    min-height: 100%;
    border-radius: 0.3vmax;
    justify-content: space-between;

    & img {
        object-fit: cover;
        aspect-ratio: 1 / 0.59;
        min-height: rem(200px);
        border-radius: 0.3vmax;
    }

    & .card-text {
        text-align: center;
        padding-inline: 5%;
        gap: 5px;
        word-break: break-all;
        overflow: hidden;

        & .user-name {
            padding: 3% 0;
            border-bottom: 1px solid rgb(226, 226, 226);
        }

        & a {
            font-size: calc(0.6vw + 0.6vh + 0.6vmin);
            color: $header;
            text-decoration: none;
            font-weight: 500;

            &:hover {
                text-decoration: underline;
                color: $accent2;
            }
        }


        & .user-location {
            padding: 1% 0;
            font-size: calc(0.6vw + 0.6vh + 0.6vmin);
        }
    }

    & .edit-icon {
        height: 15%;
        cursor: pointer;

        &.fa-edit {
            font-size: 1.5rem;
            margin-bottom: 0;
            cursor: pointer;
        }
    }
}

:host ::ng-deep {
    & .delete-toast {
        min-height: 25%;
        position: absolute;
        bottom: 0;
        background-color: $accent6;
        color: $accent2;
        border-radius: 0.3vmax;

        & .p-toast-message-custom {
            background: $accent2;
            border: solid #8A427A;
            border-width: 0 0 0 6px;
            color: #2c1e30;

            .p-toast-icon-close {
                color: #2c1e30;
            }
        }
    }
}