:host ::ng-deep {
    .p-steps {
        padding-inline-end: 20px;
        padding-top: 20px;

        .p-steps .p-steps-item .p-menuitem-link .p-steps-number {
            min-width: 2em;
            min-height: 2em;
            aspect-ratio: 1 / 1 !important;
        }
    }
}

*:focus {
    outline: none !important;
}